/WinForm.SocketClient/bin/Debug
/WinForm.SocketClient/obj/Debug
/WinForm.SocketMessage/obj/Debug
/WinForm.SocketServer/bin/Debug
/WinForm.SocketServer/obj/Debug
/.localhistory
/Client/bin/Debug
/Client/obj/Debug
/Server/bin/Debug
/Server/obj/Debug
/Win.Socket/bin/Debug
/Win.Socket/obj/Debug
/*.suo
/WinForm.SocketMessage/bin/Debug
